POSTGRES_DB=cityops_db
POSTGRES_USER=cityops
POSTGRES_PASSWORD=cityops
POSTGRES_HOST=cityops_db
POSTGRES_PORT=5432

DJANGO_SETTINGS_MODULE=cityops.settings

SECRET_KEY=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=
